<footer>
    <div class="container-fluid">
        <div class="container footer">
            <div class="row">
                <div id="contact-us" class="row">
                    <div class="col-sm-12 col-lg-4">
                        <h3>Contact Us</h3>
                        <p><a href="mailto:example@email.com">example@email.com</a></p>
                        <p>Author : Friza Aditya Frinison</p>                        
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <h3>Company</h3>
                        <p>PT. Binar Academy</p>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <h3>Product</h3>
                        <p>My Library</p>
                    </div>
                </div>
                <div id="copyright" class="row">
                    <div class="col-sm-12 col-lg-12 text-center">
                        <span class="copyright">Copyright &copy; Binar Academy <script>document.write(new Date().getFullYear())</script></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>