<%- include('layouts/header')%>
    <div class="container">
        <section class="list-of-books">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h2>List of Available Books</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2">Book Cover</th>
                                <th colspan="3" class="details">Detail</th>
                                <th rowspan="2">Action</th>
                            </tr>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach((element, index) => { %>
                                <tr>
                                    <td><%= ++index %></td>
                                    <td><img src="<%= element.image %>" alt="" srcset=""></td>
                                    <td><%= element.title %></td>
                                    <td><%= element.description %></td>
                                    <td><strong><%= element.price %></strong></td>
                                    <td>
                                        <button class="btn btn-success button-buy">
                                            <a href="/purchased">Buy</a>
                                        </button>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
<%-include('layouts/footer')%>
