* {
    font-family: 'Titillium Web', sans-serif;
}

img {
    width: 100px;
}

th,
h2 {
    text-align: center;
}

.list-of-books {
    margin: 50px;
}

#contact-us {
    display: flex;
    justify-content: center;
    height: 180px;
}

.copyright {
    padding: 15px;
}

.purchased {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.button-buy a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    #contact-us {
        text-align: center;
    }
    #copyright {
        display: none;
    }
}